version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: eligibility-chat
    container_name: eligibility-chat-container
    ports:
      - '3000:3000'
    environment:
      - PORT=3000
